Transform training csv file to a datafram with columns comprised of article words and their TF-IDF values and topics

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import csv

df=pd.read_csv('training.csv')

vectorizer = TfidfVectorizer()

#give each word a tf-idf value
vectors = vectorizer.fit_transform(df['article_words'])

#get each article word as a feature
feature_names = vectorizer.get_feature_names()

dense = vectors.todense()

denselist = dense.tolist()

#turn the stuff into a datafram with the colunms as article words
df_tfidf = pd.DataFrame(denselist, columns=feature_names)

#append topic column

df_tfidf['topic']= df['topic']


#encode categorical
cleanup_nums = {"topic": {"ARTS CULTURE ENTERTAINMENT": 1, "BIOGRAPHIES PERSONALITIES PEOPLE": 2, "DEFENCE": 3, "DOMESTIC MARKETS": 4,
                                  "FOREX MARKETS": 5, "HEALTH": 6, "MONEY MARKETS": 7, "SCIENCE AND TECHNOLOGY": 8, "SHARE LISTINGS": 9, "SPORTS":10 }}


df_tfidf.replace(cleanup_nums, inplace=True)

#prepend article number column
art_no = df_tfidf['article_number']

df_art_no = pd.DataFrame(art_no)

df_art_no

df_art_no[df_tfidf.columns]=df_tfidf


df_full = df_art_no

Train using decision tree/random forest

Sorry this section below is just to test the code cos I cant actually print it with the whole data set as its too big (too many columns)

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import csv

df=pd.read_csv('training.csv')

df2 = df[(df['article_number'].isin([1,2]))]
         
df2

vectorizer = TfidfVectorizer()

vectors = vectorizer.fit_transform(df2['article_words'])

feature_names = vectorizer.get_feature_names()

dense = vectors.todense()

denselist = dense.tolist()

df3 = pd.DataFrame(denselist, columns=feature_names)

df3['topic']= df2['topic']

art_no = df2['article_number']

df_art_no = pd.DataFrame(art_no)

df_art_no

df_art_no[df3.columns]=df3


cleanup_nums = {"topic": {"ARTS CULTURE ENTERTAINMENT": 1, "BIOGRAPHIES PERSONALITIES PEOPLE": 2, "DEFENCE": 3, "DOMESTIC MARKETS": 4,
                                  "FOREX MARKETS": 5, "HEALTH": 6, "MONEY MARKETS": 7, "SCIENCE AND TECHNOLOGY": 8, "SHARE LISTINGS": 9, "SPORTS":10 }}

df_art_no.replace(cleanup_nums, inplace=True)

df_full = df_art_no

df_full

,article_number,absent,absorb,auckland,back,bank,base,basi,belief,bid,...,trickl,tuesday,unwind,wednesday,weight,wellington,won,year,zealand,topic
0,1,0.07744,0.000000,0.000000,0.07744,0.275498,0.000000,0.000000,0.07744,0.000000,...,0.000000,0.07744,0.07744,0.232321,0.000000,0.000000,0.387202,0.000000,0.000000,5
1,2,0.00000,0.104403,0.104403,0.00000,0.074283,0.208806,0.104403,0.00000,0.208806,...,0.104403,0.00000,0.00000,0.000000,0.104403,0.104403,0.000000,0.104403,0.104403,7